extends layout

block content
  h1= title
  - let results = [{Shoe_type:'running',Shoe_brand:'Nike',cost:100},{Shoe_type:'casual',Shoe_brand:'FILA',cost:150},{Shoe_type:'swimming',Shoe_brand:'aqua',cost:200}]
  div(class="container-fluid")
    div(class="row")
      each item, index in results  
        div(class="col-sm-2",onclick=`buy(${index})`)
          p #{item.Shoe_type} 
          p #{item.Shoe_brand}
          p #{item.cost} 
  